@import "tailwindcss";

@font-face {
  font-family: 'PP Neue Montreal';
  src: url("/fonts/ppneuemontreal-book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url("/fonts/ppneuemontreal-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@theme {
    --color-white: #efefef;
    --font-sans: "PP Neue Montreal", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #efefef;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate !important;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 1000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

.horizontal-container {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.horizontal-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}